<div id="side" class="sidebars pull-left">
			<h3>Menü</h3>
				<nav>  
					<ul>  
						<li class="menu-head">Profil Beállítások</li>
							<li>
								<ul class="inner">
									<li><a href="#">Kijelentkezés</a></li>
									<li><a href="#">Adatok módosítása</a></li>
									<li><a href="#">Regisztráció törlése</a></li>
								</ul>
							</li>
						<li class="menu-head">Felhasználói funkciók</li>
							<li>
								<ul class="inner">
									<li><a href="#">Számlaigénylés</a></li>
									<li><a href="#">Vásárlói egyenleg feltöltés</a></li>
									<li><a href="#">Vásárolt termékek kilistázása</a></li>
								</ul>
							</li>
					</ul>  
				</nav>
		</div>
		
        <div id="core" class="landing pull-left">
			<h2 class="pull-center">Legújabb Termékeink</h2>
			
				<div class="top5">
					<div class="top5-img">
						<a href=""><img src="img/p02.jpg" alt="" /></a>
					</div>
					<div class="top5-name">
						<a href="">Terméknév</a>
					</div>
					<div class="top5-price">
						5.000 HUF
					</div>
				</div>
				
				<div class="top5">
					<div class="top5-img">
						<a href=""><img src="img/p02.jpg" alt="" /></a>
					</div>
					<div class="top5-name">
						<a href="">Terméknév</a>
					</div>
					<div class="top5-price">
						5.000 HUF
					</div>
				</div>
				
				<div class="top5">
					<div class="top5-img">
						<a href=""><img src="img/p02.jpg" alt="" /></a>
					</div>
					<div class="top5-name">
						<a href="">Terméknév</a>
					</div>
					<div class="top5-price">
						5.000 HUF
					</div>
				</div>
				
				<br class="clearfix" />
				
				<div class="top5">
					<div class="top5-img">
						<a href=""><img src="img/p02.jpg" alt="" /></a>
					</div>
					<div class="top5-name">
						<a href="">Terméknév</a>
					</div>
					<div class="top5-price">
						5.000 HUF
					</div>
				</div>
				
				<div class="top5">
					<div class="top5-img">
						<a href=""><img src="img/p02.jpg" alt="" /></a>
					</div>
					<div class="top5-name">
						<a href="">Terméknév</a>
					</div>
					<div class="top5-price">
						5.000 HUF
					</div>
				</div>
				
				<div class="top5">
					<div class="top5-img">
						<a href=""><img src="img/p02.jpg" alt="" /></a>
					</div>
					<div class="top5-name">
						<a href="">Terméknév</a>
					</div>
					<div class="top5-price">
						5.000 HUF
					</div>
				</div>
				
				<br class="clearfix" />
				
				<div class="top5">
					<div class="top5-img">
						<a href=""><img src="img/p02.jpg" alt="" /></a>
					</div>
					<div class="top5-name">
						<a href="">Terméknév</a>
					</div>
					<div class="top5-price">
						5.000 HUF
					</div>
				</div>
				
				<div class="top5">
					<div class="top5-img">
						<a href=""><img src="img/p02.jpg" alt="" /></a>
					</div>
					<div class="top5-name">
						<a href="">Terméknév</a>
					</div>
					<div class="top5-price">
						5.000 HUF
					</div>
				</div>
				
				<div class="top5">
					<div class="top5-img">
						<a href=""><img src="img/p02.jpg" alt="" /></a>
					</div>
					<div class="top5-name">
						<a href="">Terméknév</a>
					</div>
					<div class="top5-price">
						5.000 HUF
					</div>
				</div>
				
				<br class="clearfix" />
				
        </div>
		
		<div id="side2" class="sidebars pull-right">
			<h3>Kosár</h3>
		</div>