<nav>  
    <ul>  
		<li class="menu-head">Profil Beállítások</li>
			<li>
				<ul class="inner">
					<li><a href="#">Kijelentkezés</a></li>
					<li><a href="#">Adatok módosítása</a></li>
					<li><a href="#">Regisztráció törlése</a></li>
				</ul>
			</li>
        <li class="menu-head">Admin funkciók</li>
			<li>
				<ul class="inner">
					<li><a href="#">Éves statisztika</a></li>
					<li><a href="#">Vásárlások listázása</a></li>
					<li><a href="#">Felhasználók kezelése</a></li>
				</ul>
			</li>
        <li class="menu-head">Termékkatalógus</li>
			<li>
				<ul class="inner">
					<li><a href="#">Termékek feltöltése</a></li>
					<li><a href="#">Termékek módosítása</a></li>
					<li><a href="#">Kategória felvétele</a></li>
					<li><a href="#">Kategóriák módosítása</a></li>
					<li><a href="#">Termékkatalógus megtekintése</a></li>
				</ul>
			</li>
    </ul>  
</nav>