<div id="core" class="product pull-left">
			<img src="img/p01.jpg" alt="" class="pp-img" />
			
			<h2 class="pp-name">Termék név</h2>
			
			<div class="pp-info">
				Attribútum lista ide kerül majd<br />
				<form id="att">
					Méret: 
					<select>
						<option>S</option>
						<option>M</option>
						<option>L</option>
					</select><br />
					Szín:
					<select>
						<option>S</option>
						<option>M</option>
						<option>L</option>
					</select><br />
					<input type="button" id="cart" name="kosarba" value="Kosárba rak" />
				</form>
			</div>
			
			<div class="pp-desc">
			<h4>Termék leírás</h4>
			<p>Phasellus tincidunt est ut turpis vehicula vel varius erat fermentum. Quisque ac enim nibh, et tempus neque. Nulla facilisi. Aenean elit lorem, varius sed hendrerit eget, imperdiet at nulla. Nunc metus nulla, molestie vel suscipit nec, porta pretium nulla. Nam eleifend tempus aliquet. Praesent id elit vitae orci consequat sagittis a ac magna. Pellentesque vitae metus arcu, sit amet cursus magna.</p>
			</div>
		
        </div>
		
		<div id="side2" class="sidebars pull-right">
			<h3>Kosár</h3>
		</div>