/*
** Fďż˝ stďż˝luslap
*/

body {
	font-size: 14px;
	background: url(../img/bg.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: Arial, Helvetica, sans-serif;
}

a { text-decoration: none; }

.pull-right { float: right; }
.pull-left { float: left; }
.pull-center { margin: auto !important; text-align: center; }
.clearfix { clear: both; }


::selection {
    background:#d3ef88;
    color:#555;
}

::-moz-selection {
    background:#d3ef88;
    color:#555;
}

::-webkit-selection {
    background:#d3ef88;
    color:#555;
}

#wrapper {
	max-width: 910px;
	margin: auto;
}

/*
** Fejrďż˝sz Design
*/

.title-head {
	padding: 5px;
}

.title-head nav a {
	color: #000;
	font-size: 14px;
	text-align: center;
	float: left;
	display: block;
	width: 178px;
	text-decoration: none;
	background: rgba(211,239,136,0.7);
}
.title-head nav a:visited {
	color: #000;
	background: rgba(211,239,136,0.7);
}
.title-head nav a:hover {
	color: #ffffff;
	background: rgba(107,213,26,0.7);
}
.title-head nav a:active {
	background: rgba(107,213,26,0.7);
	color: #ffffff;
}

.title-head nav a:link, 
	.title-head nav a:visited,
		.title-head nav a:hover,
			.title-head nav a:active {
				padding: 8px 0 8px 0;
				margin: 0 0 5px 0;
				border: 1px solid #ddd;
				}

h1.cim {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
}

#bejelentkezes {
	color: #9bdb00;
    text-align: right;
    margin-top: -5px;
    padding: 5px;
    text-shadow: 1px 1px 1px rgb(136, 136, 136);
	box-shadow: 2px 2px 2px #333;
	background-color: #327700;
}


#bejelentkezes a {
	color: #fff;
}

#bejelentkezes a:visited {
	color: #fff;
}

#bejelentkezes a:hover {
	color: #9bdb00;
}

#bejelentkezes a:active {
	color: #9bdb00;
}


/*
** Oldalsďż˝v Design
*/

.sidebars {
	padding: 5px;
}

#side {
	width: 174px;
}

#side2 {
	width: 170px;
}

.sidebars h3 {
    font-size: 15px;
    padding: 3px 5px;
    text-shadow: 1px 1px 1px rgb(136, 136, 136);
    margin: 0px 0px 10px;
    box-shadow: 2px 2px 2px #333;
    background-color: #327700;
    color: #fff;
    font-weight: bold;
}


.side-fresh5-title {
	position: absolute;
	width: 150px;
	z-index: 10000;
	text-align: center;
}

#side nav {
    margin: -8px 0px 0px 1px;
    padding: 5px;
    background: rgba(211,239,136,0.5);
}

#side nav ul .menu-head {
    font-style: italic;
    font-weight: bold;
    margin-top: 10px;
}


#side nav .inner {
	margin: 2px 0px 2px 5px;
}

#side nav a {
	color: #222;
}

#side nav a:visited {
	color: #222;
}

#side nav a:hover {
	color: #fff;
}

#side nav a:active {
	color: #fff;
}



/*
** Main kontďż˝ner
*/

#core h2 {
	font-size: 18px;
	padding: 5px;
	font-style: italic;
	text-shadow:1px 1px 1px #888;
	padding-bottom: 15px;
}

#core h3 {
	font-size: 15px;
	padding: 3px 5px 3px 5px;
	font-style: italic;
	text-shadow:1px 1px 1px #888;
}

/*
** Katalďż˝gus Design
*/
	
.product-img {
	z-index: -5;
}

.product-img img {
	border: none;
}

.product-title {
	position: absolute;
	padding: 5px 0 5px 0;
	margin-top: -25px;
	width: 174px;
	z-index: 10000;
	text-align: center;
	background-color: rgba(50, 50, 50, 0.8);
}

.p-left {
	float: left;
}

.p-center {
	float: left;
}

.p-right {
	float: right;
}

/*
** Kezdďż˝lap Design
*/
.home {
	width: 910px;
	background: none repeat scroll 0% 0% rgba(211, 239, 136, 0.5);
}

.landing {
	max-width: 910px;
}

.home-top5-title {
	position: absolute;
	width: 250px;
	z-index: 10000;
	text-align: center;
	background-color: rgba(50, 50, 50, 0.8);
}

/*
** Lďż˝brďż˝sz Design
*/ 

footer {
	padding: 10px 0 0 0;
	text-align: center;
	color: #fff;
}

footer #foot-nav {
	margin: 10px 0 10px 0;
}

footer a {
	text-align: center;
	text-decoration: none;
	margin: 5px;
	text-transform: lowercase;
	color: #fff;
}

footer a:visited {
	
}

footer a:hover {
	
}

footer a:active {
	
}


/*
** Regisztrďż˝ciďż˝
*/
#regisztracio {
	width: 340px;
	margin: auto;
	padding: 20px;
}

/* Placeholder stďż˝lus normalizďż˝lďż˝sa */  
/* chrome, safari */  
::-webkit-input-placeholder {  
    color:#CCC;  
    font-style:italic;  
}  
/* mozilla */  
input:-moz-placeholder, textarea:-moz-placeholder {  
    color:#CCC;  
    font-style:italic;  
}  
/* ie (faux placeholder) */  
input.placeholder-text, textarea.placeholder-text  {  
    color:#CCC;  
    font-style:italic;  
}

/* Box shadow kilďż˝vďż˝se a required mezďż˝k kďż˝rďż˝l */
input:required, textarea:required {  
    -moz-box-shadow:none;  
    -webkit-box-shadow:none;  
    -o-box-shadow:none;  
    box-shadow:none;  
}  

#regisztracio label {font-weight: bold; font-size: 14px; margin-top: 6px; }

#regisztracio input[type=text],
#regisztracio input[type=email],
#regisztracio input[type=password],
#regisztracio input[type=tel],
#regisztracio select,  
#regisztracio textarea {  
    width: 140px;  
    border: 1px solid #dbe8ce;  
    margin-bottom:7px;
	margin-left: 5px;
    padding:4px;  
}

#regisztracio input:focus,  
#regisztracio select:focus,  
#regisztracio textarea:focus {  
    border: 1px solid #cdd8af;  
    background-color: #e1f4c5;  
}

#regisztracio #szuldatum { margin: 15px 0 5px 0; font-weight: bold;}
#regisztracio #hint { font-size: 12px; color: #333; margin: 5px 0 10px 0; }

#regisztracio #ev { width: 35px; margin-right: 5px;}
#regisztracio #honap { width: 80px; margin-right: 5px;}
#regisztracio #nap { width: 25px;}

#regisztracio #ir_szam { width: 43px; }
#regisztracio #hazszam { width: 30px; }

/*
** Fďż˝oldal
*/

#core .top5-title {
	font-size: 22px;
	margin-bottom: 10px;
	color: #fff;
	text-shadow: -1px 0 #333, 0 1px #333,
      1px 0 #333, 0 -1px #333,
      1px 1px 2px rgb(48, 79, 0);
	}
	
#core .top5 {
	float: left;
	background-color: rgba(200,200,200,0.6);
	width: 152px;
	height: 210px;
	padding: 5px;
	margin: 5px 10px 5px 10px;
	box-shadow: 2px 2px 3px #888;
}

#core .top5:hover {
	background: rgba(211,239,136,0.7);
	box-shadow: 2px 2px 3px #268319;
}

#core .top5 img {
	padding: 5px;
	background-color: #fff;
}

#core .top5-img {
}

#core .top5-name {
	font-weight: bold;
	font-size: 15px;
	margin: 5px 0 5px 0;
	color: rgb(106, 173, 0);
    text-shadow: -1px 0 #333, 0 1px #333,
      1px 0 #333, 0 -1px #333,
      1px 1px 2px rgb(48, 79, 0);
    letter-spacing: 2px;
}

#core .top5-name a {
	color: rgb(106, 173, 0);
}

#core .top5-name a:visited {
	color: rgb(106, 173, 0);
}

#core .top5-name a:hover {
	
}

#core .top5-name a:active {
	
}

#core .top5-price {
	text-align: right;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 15px 0 0 0;
	color: #333;
}

#core .top5-price img {
	background: none;
	vertical-align: middle;
	float: right;
	margin-top: -18px;
}


/*
** Felhasznďż˝lďż˝ profil
*/

.acc-info {
	font-weight: bold;
	font-size: 14px;
}

.acc-data {
	float: right;
}

.acc-row {
	width: 305px;
	margin: auto;
	text-align: left;
}

.profile {
	padding: 5px;
	min-width: 536px !important;
	background: none repeat scroll 0% 0% rgba(211, 239, 136, 0.5);
}

.admin-full {
	padding: 5px;
	min-width: 710px !important;
	background: none repeat scroll 0% 0% rgba(211, 239, 136, 0.5);
}

.acc-datam {
	margin: 5px 0 0 0;
}

.acc-datam label {
	float: left; margin-top: 5px;
}

.acc-datam input {
	float: right;
}

.modosit {
	text-align: center;
	margin-top: 10px;
}
.felvetel {
	text-align: center;
	margin-top: 10px;
}

/*
** Termďż˝k profil
*/

.product {
	min-width: 710px !important;
	width: 710px !important;
	margin: 5px;
	padding: 5px;
	background: none repeat scroll 0% 0% rgba(211, 239, 136, 0.5);
}

.pp-img {
	float: left;
	margin: 5px;
	padding: 3px;
	background-color: #eee;
}			

.pp-name {
	float: left;
}

.pp-info {
	float: left;
	margin-left: -85px;
	margin-top: 50px;
}

.pp-desc {
	text-align: justify;
	clear: both;
	padding: 10px;
}

.pp-desc h4 {
	font-weight: bold;
	font-style: italic;
	margin: 5px 0 5px 0;
	font-size: 18px;
}

#cart {
	position: absolute;
	margin-top: -95px;
	margin-left: 450px;
}



/*
 * Táblázatok
 */

#core {
	min-width: 720px;
	min-height: 450px;
}

#core table {
 	width: 700px;
 	text-align: left;
 	border: 1px solid #333;
}
 
#core table th {
 	font-weight: bold;
 	text-align: left;
 	padding: 7px;
 	border-bottom: 1px solid #333;
}

#core table td {
 	border-bottom: 1px solid #333;
 	text-align: left;
	vertical-align: middle;
	padding-left: 7px;
	height: 30px;
}

#core table tr:nth-child(even) {
	background: #7bb047;
}

#core table tr:nth-child(odd) {
	background: #ccc;
}

/*
 * BejelentkezĂ©s
 */

#login-wrap {
    width: 300px;
    margin: auto;
    min-height: 110px;
    background: none repeat scroll 0% 0% rgba(211, 239, 136, 0.5);
    text-align: center;
    padding: 20px 0 20px 0;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #aaa;
}

#login-wrap input[type=email],
 #login-wrap input[type=password]{
    padding: 7px;
    border-radius: 10px;
    border: none;
    margin: 10px;
    width: 180px;
}