/*
** Fďż˝ stďż˝luslap
*/

body {
	font-size: 14px;
	background: url(../img/bg.png);
}

a { text-decoration: none; }

.pull-right { float: right; }
.pull-left { float: left; }
.pull-center { margin: auto !important; text-align: center; }
.clearfix { clear: both; }


::selection {
    background:#d3ef88;
    color:#555;
}

::-moz-selection {
    background:#d3ef88;
    color:#555;
}

::-webkit-selection {
    background:#d3ef88;
    color:#555;
}

#wrapper {
	max-width: 910px;
	margin: auto;
}

/*
** Fejrďż˝sz Design
*/

.title-head {
	padding: 5px;
}

.title-head nav a {
	font-size: 14px;
	text-align: center;
	float: left;
	display: block;
	width: 178px;
	text-decoration: none;
	background: #ccc;
}
.title-head nav a:visited {
	background: #ccc;
}
.title-head nav a:hover {
	background: #ddd;
}
.title-head nav a:active {
	background: #ddd;
}

.title-head nav a:link, .title-head nav a:visited, .title-head nav a:hover, .title-head nav a:active { padding: 5px 0 5px 0; margin: 0 0 5px 0; border-right: 2px solid #ddd; }

h1.cim {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
}

/*
** Oldalsďż˝v Design
*/

.sidebars {
	padding: 5px;
}

#side {
	width: 174px;
}

#side2 {
	width: 170px;
}

.sidebars h3 {
	font-size: 15px;
	padding: 3px 5px 3px 5px;
	text-shadow:1px 1px 1px #888;
	margin: 0 0 10px 0;
	box-shadow: 2px 2px 2px #666;
	background-color: #999;
}

.side-fresh5-title {
	position: absolute;
	width: 150px;
	z-index: 10000;
	text-align: center;
}

#side nav {
	margin: 0px 0px 0px 5px;
}

#side nav .inner {
	margin: 2px 0px 2px 5px;
}



/*
** Main kontďż˝ner
*/

#core h2 {
	font-size: 18px;
	padding: 5px;
	font-style: italic;
	text-shadow:1px 1px 1px #888;
	padding-bottom: 15px;
}

#core h3 {
	font-size: 15px;
	padding: 3px 5px 3px 5px;
	font-style: italic;
	text-shadow:1px 1px 1px #888;
}

/*
** Katalďż˝gus Design
*/

#core section.products {
	width: 174px;
	height: 174px;
	margin: 4px;
	box-shadow: 2px 2px 3px #888;
}

#core section.products img:hover{
	opacity: 1.0;
}

#core section.products img{
	opacity: 0.7;
}

#core section a {
	color: #fff;
}

#core section a:visited {
	color: #fff;
}

#core section a:hover {
	color: #fff;
}

#core section a:active {
	color: #fff;
}
	
.product-img {
	z-index: -5;
}

.product-img img {
	border: none;
}

.product-title {
	position: absolute;
	padding: 5px 0 5px 0;
	margin-top: -25px;
	width: 174px;
	z-index: 10000;
	text-align: center;
	background-color: rgba(50, 50, 50, 0.8);
}

.p-left {
	float: left;
}

.p-center {
	float: left;
}

.p-right {
	float: right;
}

/*
** Kezdďż˝lap Design
*/
.home {
	width: 544px;
}

.landing {
	max-width: 910px;
}

.home-container {
	max-width: 520px;
}

.home  section {
	width: 250px;
	margin: 5px;
}

.home-top5-title {
	position: absolute;
	width: 250px;
	z-index: 10000;
	text-align: center;
	background-color: rgba(50, 50, 50, 0.8);
}

#core section div.home-top5-title a {
	padding: 5px 0 5px 0;
	margin-top: -25px;
	width: 250px;
	display: block;
	background-color: rgba(50, 50, 50, 0.8);
}

#core section div.home-top5-title a:visited {
	color: #fff;
	background-color: rgba(50, 50, 50, 0.8);
}

#core section div.home-top5-title a:hover {
	color: #333;
	background-color: rgba(200, 200, 200, 0.8);
}

#core section div.home-top5-title a:active {
	color: #333;
	background-color: rgba(200, 200, 200, 0.8);
}

/*
** Lďż˝brďż˝sz Design
*/ 

footer {
	padding: 10px 0 0 0;
	text-align: center;
}

footer #foot-nav {
	margin: 10px 0 10px 0;
}

footer a {
	text-align: center;
	text-decoration: none;
	margin: 5px;
	text-transform: lowercase;
}

footer a:visited {
	
}

footer a:hover {
	
}

footer a:active {
	
}


/*
** Regisztrďż˝ciďż˝
*/
#regisztracio {
	width: 340px;
	margin: auto;
}

/* Placeholder stďż˝lus normalizďż˝lďż˝sa */  
/* chrome, safari */  
::-webkit-input-placeholder {  
    color:#CCC;  
    font-style:italic;  
}  
/* mozilla */  
input:-moz-placeholder, textarea:-moz-placeholder {  
    color:#CCC;  
    font-style:italic;  
}  
/* ie (faux placeholder) */  
input.placeholder-text, textarea.placeholder-text  {  
    color:#CCC;  
    font-style:italic;  
}

/* Box shadow kilďż˝vďż˝se a required mezďż˝k kďż˝rďż˝l */
input:required, textarea:required {  
    -moz-box-shadow:none;  
    -webkit-box-shadow:none;  
    -o-box-shadow:none;  
    box-shadow:none;  
}  

#regisztracio label {font-weight: bold; font-size: 14px; margin-top: 6px; }

#regisztracio input[type=text],
#regisztracio input[type=email],
#regisztracio input[type=password],
#regisztracio input[type=tel],
#regisztracio select,  
#regisztracio textarea {  
    width: 140px;  
    border: 1px solid #dbe8ce;  
    margin-bottom:7px;
	margin-left: 5px;
    padding:4px;  
}

#regisztracio input:focus,  
#regisztracio select:focus,  
#regisztracio textarea:focus {  
    border: 1px solid #cdd8af;  
    background-color: #e1f4c5;  
}

#regisztracio #szuldatum { margin: 15px 0 5px 0; font-weight: bold;}
#regisztracio #hint { font-size: 12px; color: #333; margin: 5px 0 10px 0; }

#regisztracio #ev { width: 35px; margin-right: 5px;}
#regisztracio #honap { width: 80px; margin-right: 5px;}
#regisztracio #nap { width: 25px;}

#regisztracio #ir_szam { width: 43px; }
#regisztracio #hazszam { width: 30px; }

/*
** Fďż˝oldal
*/

#core .top5-title {
	font-size: 22px;
	margin-bottom: 10px;
	color: #6aad00;
	text-shadow: 1px 1px 1px #304f00;
	}
	
#core .top5 {
	float: left;
	background-color: #ccc;
	width: 152px;
	height: 210px;
	padding: 5px;
	margin: 5px 10px 5px 10px;
	box-shadow: 2px 2px 3px #888;
}

#core .top5 img {
	padding: 5px;
	background-color: #fff;
}

#core .top5-img {
}

#core .top5-name {
	font-weight: bold;
	font-size: 15px;
	margin: 5px 0 5px 0;
}

#core .top5-price {
	text-align: right;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 15px 0 0 0;
	color: #96ce00;
}

/*
** Termďż˝k profil
*/

.product {
	width: 710px;
	margin: 5px;
	padding: 5px;
	background-color: rgba(200,200,200,0.5);
}

.pp-img {
	float: left;
	margin: 5px;
	padding: 3px;
	background-color: #eee;
}			

.pp-name {
	float: left;
}

.pp-info {
	float: left;
	margin-left: -85px;
	margin-top: 50px;
}

.pp-desc {
	text-align: justify;
	clear: both;
	padding: 10px;
}

.pp-desc h4 {
	font-weight: bold;
	font-style: italic;
	margin: 5px 0 5px 0;
	font-size: 18px;
}

#cart {
	position: absolute;
	margin-top: -95px;
	margin-left: 410px;
}


/*
** Felhasznďż˝lďż˝ profil
*/

.acc-info {
	font-weight: bold;
	font-size: 14px;
}

.acc-data {
	float: right;
}

.acc-row {
	width: 250px;
	margin: auto;
}

.profile {
	min-width: 546px;
}

.acc-datam {
	margin: 5px 0 0 0;
}

.acc-datam label {
	float: left; margin-top: 5px;
}

.acc-datam input {
	float: right;
}

.modosit {
	text-align: center;
	margin-top: 10px;
}

/*
 * FelhasznĂˇlĂłk listĂˇzĂˇsa
 */

.users {
	min-width: 720px;
}

.users table {
 	width: 720px;
 	text-align: left;
}
 
.users table th {
 	font-weight: bold;
 	text-align: left;
}

.users table td {
 	border: 1px solid #333;
 	padding: 2px;
}

/*
 * BejelentkezĂ©s
 */

#login-wrap {
    width: 300px;
    margin: auto;
    min-height: 110px;
    background-color: #ccc;
    text-align: center;
    padding: 20px 0 20px 0;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #aaa;
}

#login-wrap input[type=email],
 #login-wrap input[type=password]{
    padding: 7px;
    border-radius: 10px;
    border: none;
    margin: 10px;
}

#tablazat td{
	
		width: 120px;
		height: 30px;
		border-width: 2px 2px 2px 2px;
		border-style:solid;
		text-align:center;
		vertical-align:center;
		padding-top: 10px;
		
}
#tablazat th {
	font-size: 18px;
	font-weight: bold;
	color: green;
}
#tablazat td {
	font-size: 16px;
}